@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.cdnfonts.com/css/league-mono");

* {
  font-family: "Montserrat", sans-serif;
  @apply dark:text-zinc-300;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Paytone One", sans-serif;

    a {
      font-family: "Paytone One", sans-serif;
    }
  }
}

body {
  @apply bg-zinc-50 dark:bg-slate-800;

  min-width: 375px;
}

.app {
  @apply flex flex-col h-screen justify-between;

  main {
    @apply w-full flex justify-center mb-auto;
  }

  .app-container {
    @apply w-full max-w-3xl mx-6;
  }
}

input,
textarea {
  @apply py-2 px-4 border;
  @apply focus:outline-none focus:ring focus:ring-indigo-600 hover:border-indigo-600;
  @apply transition ease-in-out duration-150;
  // dark mode
  @apply dark:border-slate-800 dark:bg-slate-900 dark:focus:ring-emerald-500 dark:hover:border-emerald-500;
}
